.Body {
    min-height: 0;
        flex: 1;
}


.Section {
    padding: 1.5vmax;
    margin: 3vmax 3vmax 0;
    background-color: var(--mui-palette-error-main);
    width: fit-content;

    .SectionTitle {
        font-weight: bold;
        color: white;
        width: fit-content;
    }
}

.PieceNav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1vmax;

    .Previous {
        margin-right: 1vmax;
    }
}