.EmbedCard {
  position: relative;
  overflow: hidden;
  max-width: 100vh;
  flex: 1;
  width: 100%;
  height: 100%;

  .Embed {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.VideoCard {
  height: 50vmin;
  .VideoCard::after {
    padding-top: 56.5%;
  }
}



