.Pieces {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scrollbar-width: none;
}

.Pieces::-webkit-scrollbar {
    display: none;
}

.Piece {
    max-height: 100%;
    height:100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
}