.Videos {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  overflow: auto;

  .Section {
    margin-bottom: 7.5vmax;

    .SectionTitle {
      margin-bottom: 0;
    }
  }

  .VideoGrid {
    width: fit-content;
    .VideoGridItem {
      display: flex;
      justify-content: center;
      padding: 2vmax 1vmax 0 1vmax;
    }
  }
}
